/*//////*/


.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: start;
}

.nav-item {
	margin-right: 8px;
}

.nav-item a:hover {
	background-color: #ECF0F3;
	border-radius: 6px;
}

.nav_active {
	border: 2px solid #ECF0F3;
	border-radius: 8px;
}

.navbar_nav {
	padding: 15px;
	background-color: #DAE4FF;
}

.custom-nav {
	margin-left: 20px;
}

.nav_img span {
	font-size: 30px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
	color: darkblue;
}

.nav_img {
	width: 50px;
	height: 60px;
}

.nav_img img {
	width: 100%;
	height: 100%;
}

.navbar li {
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.nav_hover {
	color: black;
}

.search_btn {
	margin-left: 70px;
	position: relative;
}

.search_btn input {
	padding: 10px 10px 10px 40px;
	border-radius: 30px;
}

.search_btn i {
	position: absolute;
	top: 16px;
	left: 15px;
}

.form-control:focus {
	color: none;
	background-color: none;
	border-color: none;
	outline: 0;
	box-shadow: none;
}

.login_btn .language {
	padding: 6px;
	border-radius: 6px;
	transition: all .5s;
}

.login_btn .language:hover {
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.login_btn a {
	text-decoration: none;
	color: black;
	font-family: "Hind Siliguri", sans-serif;
	margin-right: 8px;
}

.flag_img img {
	width: 31px;
	border-radius: 50%;
}

.dropdown-toggle:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}

/*  /////navbar_nav-END//////

/* banner start  */
#banner-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.banner-image .card {
	border-radius: 12px;
	border: 2px solid #000000;
}

.card-img {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

/* banner end  */


/*course start*/

.course_title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.course_title h4{
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 30px;
}
.course_title span {
	font-size: 35px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.course_title i {
	margin-left: 5px;
	color: #15161573;
}

.course_img {
	width: 270px;
	height: 185px;
}

.course_img img {
	width: 100%;
	height: 100%;
}

.course_category {
	margin-bottom: 30px;
}

.category_icon a {
	text-decoration: none;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.laptop i {
	color: darkblue;
	margin-right: 10px;
	font-size: 22px;
}

.category_body {
	cursor: pointer;
	background-color: #0000001f;
}

.category_body:hover .category_name h6 {
	text-decoration: underline;
}

.category_name a{
	text-decoration: none;
	color: black;
}
.category_name h6 {
	font-size: 14px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.category_name p {
	font-size: 12px;
	margin-bottom: 0;
}

.course_btn {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.course_btn a i {
	margin-right: 4px;
}

.course_btn a {
	text-decoration: none;
	color: black;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	padding: 5px 8px;
	font-size: 11px;
	font-family: "Hind Siliguri", sans-serif;
	font-weight: 300;
	margin-left: 8px;
	margin-right: 8px;
}

.course_text a {
	margin-top: 10px;
	padding: 5px 70px;
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.course_text a i {
	margin-left: 8px;
}

.course_text h5 {
	font-size: 18px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.course_card {
	width: 17rem !important;
	margin-bottom: 10px;
}

.course_home {
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
	margin-top: 40px;
}

.all_course_button {
	margin-top: 15px;
	text-align: center;
}

.all_course_button a {
	padding: 10px 65px 10px 65px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.all_course_button a i {
	margin-left: 8px;
}

.course_card .card-header {
	padding: 0;
}

/*course end*/

/*carriergoal start*/

.carrier_card {
	height: 155px;
	width: 274px;
}

.carrier_home {
	margin-top: 40px;
	margin-bottom: 40px;
}

.carrier_card {
	border-radius: 8px;
	margin: 5px;
}

.carrier_title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.carrier_title h4 {
	font-size: 35px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.carrier_title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.carrier_icon {
	text-align: center;
	margin-bottom: 5px;
}

.carrier_laptop i {
	color: darkblue;
	font-size: 35px;
}

.carrier_name {
	text-align: center;
}

.carrier_name h6 {
	font-size: 22px;
	margin-top: 10px;
	font-weight: 600;
	font-family: "Hind Siliguri", sans-serif;
}

.carrier_name p {
	font-size: 12px;
	margin-bottom: 0;
}

.carrier_body {
	cursor: pointer;
	background-color: #00000003;
}

.carrier_body:hover {
	border-radius: 8px;
}

.carrier_body:hover .carrier_name h6 {
	text-decoration: underline;
}

.carrier_name ul.carrier_text {
	display: flex;
	justify-content: center;
}

.carrier_name ul.carrier_text li {
	font-size: 12px;
	font-family: "Hind Siliguri", sans-serif;
	margin-right: 25px;
	color: #000;
}

/*carriergoal end*/

/*live course start */
.live_course_card {
	-webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
}

.live_course_card .card-body {
	padding: 20px;
}

.live_course_icon {
	text-align: center;
	margin-bottom: 5px;
}

.live_course_video i {
	color: #FF0000;
	font-size: 35px;
}

.live_course_name {
	text-align: center;
}

.live_course_name h6 {
	font-size: 22px;
	font-weight: 600;
	font-family: "Hind Siliguri", sans-serif;
}

.live_course_name p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.live_home {
	padding: 10px;
}

.live_home:first-child {
	border-left: none;
	border-top: none;
}

.live_home:nth-child(2) {
	border-top: none;
}

.live_home:nth-child(3) {
	border-top: none;
	border-right: none;
}

.live_home:nth-child(4) {
	border-bottom: none;
	border-left: none;
}

.live_home:nth-child(5) {
	border-bottom: none;
}

.live_home:last-child {
	border-right: none;
	border-bottom: none;
}

.live_home {
	border: 1px solid #00000014;
}

.live_course_title {
	text-align: center;
}

.live_course_title h4 {
	font-size: 35px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.live_course_title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 30px;
}

/*live course end */

/*course count & graduate start*/
#count_graduate_section {
	margin-top: 40px;
}

.count_card {
	margin-top: 40px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
}

.count_list h6 {
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.count_list p {
	font-size: 16px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.count_body_1 {
	background-color: #D1FADF;
	border-radius: 6px;
}

.count_body_2 {
	background-color: #DAE4FF;
	border-radius: 6px;
}

.count_body_3 {
	background-color: #FFE8DB;
	border-radius: 6px;
}

.count_body_4 {
	background-color: #FFF2CC;
	border-radius: 6px;
}

.course_graduate {
	margin-top: 30px;
}

.course_graduate_title {
	text-align: center;
	margin-bottom: 30px;
}

.course_graduate_title h4 {
	font-size: 30px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.course_graduate_title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.graduate_header_text {
	padding: 6px 4px 0px 7px;
}

.graduate_header_text p {
	font-size: 14px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.graduate_body {
	padding: 9px 4px 0px 8px;
}

.graduate_body_text p.graduate_body_icon {
	width: 40px;
	height: 40px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 40px;
	position: relative;
}

.graduate_body_icon span {
	width: 15px;
	height: 15px;
	line-height: 15px;
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: #ECF0F3;
	color: #000;
	font-size: 12px;
	padding: 10px;
}

.graduate_body_icon span:after {
	content: '^';
	position: absolute;
	top: 8%;
	left: 32%;
	transform: rotate3d(1, 0, 0, 180deg);
	font-size: 14px;
}

.graduate_body_text h6 {
	font-size: 16px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	margin-top: 18px;
}

.graduate_body_text p {
	font-size: 14px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.graduate_header_text_2 p {
	font-size: 14px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

#count_graduate_section {
	background-color: #0000000d;
	border-radius: 8px;
}

/*course count & graduate end*/

/* About Us Start */


.about-title h3 {
	margin-top: 40px;
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 25px;
}

.about-description p {
	margin: 8px;
	font-size: 16px;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 10px;
}

/* About Us End */

/* Refund Policy Start */
.refune_title {
	font-family: "Hind Siliguri", sans-serif;
	;
	margin-top: 50px;
	margin-bottom: 25px;
}

.refune_title h2 {
	font-weight: 700;

}

.refund {
	max-width: 1050;
	margin: 30px 30px 30px 30px;
}

/* Refund Policy End */

/* Privacy Policy Start */
.privacy {
	margin: 30px 30px 30px 30px;
}

.privcy_title h2 {
	font-family: "Hind Siliguri", sans-serif;
	;
	font-weight: 700;
	margin-top: 50px;

}

.DEFINITIONS_title ul li {
	list-style-type: none;
}

/* Privacy Policy End */

/* Terms And Conditions Start */

.termscondition_title h2 {
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.termscondition {
	margin: 30px 30px 30px 30px;
}

/* Terms And Conditions End */

/*course-details start*/

#course_details {
	margin-top: 40px;
}

.course_details_b_img {
	width: 586px;
	height: 370px;
}

.course_details_b_img img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.course_details_title h4 {
	font-size: 30px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	margin-top: 25px;
	margin-bottom: 25px;
}

.course_details_title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.course_details_payment a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.course_details_payment a i {
	font-size: 12px;
}

.course_details_payment span {
	font-size: 22px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	margin-left: 15px;
}

.course_details_b_card {
	margin-top: 15px;
}

.course_details_b_text {
	padding: 6px;
}

.course_details_b_text span {
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.course_details_b_text .course_details_icon_text i {
	font-size: 12px;
	margin-right: 6px;
}

.course_details_b_card {
	width: 128px;
	height: 37px;
}

.course_details_b_l_card {
	margin-top: 15px;
}

.course_details_l_text {
	margin-top: 5px;
	justify-content: start;
}

.course_details_l_text span {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.course_details_l_text p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
	margin-left: 4px;
	margin-top: 5px;
}

.course_details_l_text span i {
	margin-right: 5px;
	font-size: 12px;
}

.course_details_l_text span {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 5px;
}

.course_details_b_l_card_body {
	border: 1px solid #0000002b;
}

.course_details_b_l_card_body:first-child {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.course_details_b_l_card_body:nth-child(2) {
	border-top: none;
	border-bottom: none;
}

.course_details_b_l_card_body:nth-child(3) {
	border-top: none;
	border-bottom: none;
}

.course_details_b_l_card_body:nth-child(4) {
	border-top: none;
	border-bottom: none;
}

.course_details_b_l_card_body:last-child {
	border-top: none;
	border-right: none;
	border-bottom: none;
}

/*course-details end*/


/*course_category_nav start*/

.category_course_item {
	margin-top: 40px;
}

.category_course_item {
	top: 90px;
	background-color: white;
	border-bottom: 1px solid #00000038;
}

.category_course_item li a {
	color: black;
	font-size: 18px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.category_course_item li a:hover {
	color: #000;
}

.category_course_item li {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	margin: 10px;
	padding: 5px 45px 5px 45px;
}

.category_course_title h4 {
	margin-top: 40px;
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.category_course_card {
	-webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.3);
}

.category_course_card .card-body {
	padding: 20px;
}

.category_course_icon {
	text-align: center;
	margin-bottom: 5px;
}

.category_course_video i {
	color: #FF0000;
	font-size: 35px;
}

.category_course_name {
	text-align: center;
}

.category_course_name h6 {
	font-size: 22px;
	font-weight: 600;
	font-family: "Hind Siliguri", sans-serif;
}

.category_course_name p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.category_home {
	padding: 10px;
}


.category_home {
	border: 1px solid #00000014;
}

.category_course_title {
	text-align: center;
}

.category_course_title h4 {
	font-size: 35px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.category_course_title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
	margin-bottom: 30px;
}

.course_4_u_title {
	margin-top: 40px;
	margin-bottom: 40px;
}

.course_4_u_title h4 {
	font-size: 40px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	text-align: center;
}

.course_4_u_text span {
	font-size: 14px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.course_4_u_text .course_4_u_icon i {
	font-size: 12px;
	margin-right: 5px;
	color: #66b609;
}

.course_4_u_card {
	margin: 5px;
}

.course_4_u_description {
	margin-bottom: 40px;
}

.our_instructor_title {
	margin-top: 40px;
}

.our_instructor_title h4 {
	font-size: 40px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	text-align: center;
}

.our_instructor_list {
	margin-top: 30px;
}

.our_instructors h5 {
	font-size: 22px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	text-align: center;
}

.our_instructors p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.our_instructors a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.our_instructors a i {
	margin-right: 5px;
	color: #66b609;
}

.our_instructor_img {
	width: 138px;
	height: 145px;
	margin-top: 6px;
}

.our_instructor_img img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

#course_details_faq {
	margin-top: 40px;
	margin-bottom: 40px;
}

.course_details_faq_title h4 {
	font-size: 45px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.faq_item {
	border: none !important;
}

.faq_item {
	border: 1px solid #0000001f !important;
	border-radius: 8px !important;
	overflow-x: hidden;
	margin-bottom: 8px;
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button,
.accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
	border-radius: 8px;
}

.faq_item .faq_header button {
	font-size: 18px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}

.faq_text {
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

/*course_category_nav end*/
/*registration start*/

.registration_from{
	font-size: 35px;
	font-weight: 700;
	font-family: "Hind Siliguri", sans-serif;
}
.form_label{
	font-size: 16px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}
.form_label_1{
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}
.form_check{
	margin-left: 30px;
}
.sex_check{
	margin-left: 30px;
}
/*registration end*/
/* <<<<<<<<<<<---Footer Css Start---<<<<<<<<<<< */

#footer_section {
	padding-top: 40px;
	padding-bottom: 20px;
	overflow-x: hidden;
}

.company_text {
	margin-top: 20px;
}

.company_text p {
	font-family: "Hind Siliguri", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-align: justify;
}

.page_link_part1 span {
	color: #000000;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
	font-size: 18px;
}

.page_link_part2 {
	margin-top: 15px;

}

.page_link_part3 {
	list-style: none;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Hind Siliguri", sans-serif;
}

.page_link_part3 a {
	text-decoration: none;
	color: black;
}

.page_link_part3 a:hover {
	color: red;
	text-decoration: underline;
}

ol,
ul {
	padding-left: 0rem;
}

.footer_img a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
}

.social_icon_lms {
	margin-top: 30px;
	margin-bottom: 22px;
}

.footer_img {
	width: 100%;
	height: 100%;
}

.footer_img img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.footer_img span {
	margin-left: 10px;
	font-weight: 500;
	font-family: "Hind Siliguri", sans-serif;
	font-size: 30px;
}

.footer-bottom-text {
	padding: 10px 0;
}

.border-top-1 {
	border-top: 2px solid #7c7c7c30;
}

.lms_icon_part_left a {
	padding: 5px 12px 5px 12px;
	font-size: 22px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
	left: 10px;
	margin-left: 10px;
	border-radius: 6px;
}

.lms_icon_part_left i {
	transition: all .5s;
}

.lms_icon_part_left .fb_icon:hover i {
	color: #316FF6;
}

.lms_icon_part_left .youtube:hover i {
	color: #FF0000;
}

.lms_icon_part_left .instragram:hover i {
	color: #d62976;
}

.lms_icon_part_left .linkedin:hover i {
	color: #0077B5;
}

/* <<<<<<<<<<<---Footer Css End---<<<<<<<<<<< */